doctype 5 
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/js/underscore.min.js")
    script(src="/js/covariance.js")      
    script(src="/js/listener.js")
  body
    block content
