extends ../layout

block content
    input#authentic-user(type=text, placeholder="Authentic User")
    br
    input#imposter-user(type=text, placeholder="Imposter User")
    br
    input#word(type=text, placeholder="Word")
    button#calculate(type="button")  Calculate Error Rates    
